In [1]:
import json
import re
import pandas as pd
from nltk import word_tokenize
from nltk.corpus import stopwords
import string

input_file_indeed = '.\\indeed_listings.json'
input_file_techno_jobs = '.\\technojobs_listings.json'
input_file_reed = '.\\Reed_listings.json'
input_file_24 = '.\\jobs24_listings.json'
input_file_jobs_today = '.\\jobs_today_listings.json'



output_file = '.\\all_jobs.json'

In [2]:
##LOADING AND CONCATING THE DATA
with open(input_file_indeed) as f:
    data_indeed = json.load(f)

with open(input_file_techno_jobs) as f:
    data_techno = json.load(f)
    
with open(input_file_reed) as f:
    data_reed = json.load(f)

with open(input_file_24) as f:
    data_24 = json.load(f)
    
with open(input_file_jobs_today) as f:
    data_today = json.load(f)

In [3]:
def lowercase_strip_reed_techno(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
        sentence = ' '.join(sentence).replace('\r', '').replace('\n', '').replace(' ','').split(',')[-1]
        return sentence
    elif isinstance(sentence, (str,)):
        clean_text = sentence.strip().lower()
        result = re.sub(r"[^a-zA-Z]+", ' ', clean_text)
        return result
    else:
        return ''
    
def lowercase_strip_indeed(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
        sentence = ' '.join(sentence).replace('\r', '').replace('\n', '').replace(' ','').split('-')[-1]
        return sentence
    elif isinstance(sentence, (str,)):
        clean_text = sentence.strip().lower()
        result = re.sub(r"[^a-zA-Z]+", ' ', clean_text)
        return result
    else:
        return ''

def lowercase_strip_24(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
        sentence = ' '.join(sentence).replace('\r', '').replace('\n', '').replace(' ','').split(',')[0]
        return sentence
    elif isinstance(sentence, (str,)):
        clean_text = sentence.strip().lower()
        result = re.sub(r"[^a-zA-Z]+", ' ', clean_text)
        return result
    else:
        return ''
    
def lowercase_strip_today1(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
        sentence = ' '.join(sentence).replace('Posted', '').replace('Salary', '').replace('\r', '').replace('\t', '').replace('\n', '').replace('Recruiter','').strip().split(',')
        return sentence[0]
    elif isinstance(sentence, (str,)):
        clean_text = sentence.strip().lower()
        result = re.sub(r"[^a-zA-Z]+", ' ', clean_text)
        return result
    else:
        return ''
    
def lowercase_strip_today2(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
#         sentence = ' '.join(sentence).replace('\r', '').replace('\n', '').replace(' ','').split(',')[0]
        return sentence[4]
    elif isinstance(sentence, (str,)):
        clean_text = sentence.strip().lower()
        result = re.sub(r"[^a-zA-Z]+", ' ', clean_text)
        return result
    else:
        return ''
    
def lowercase_strip_indeed2(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
        wanted_list = ['day', 'month', 'year','months', 'days']
        sentence = [word for word in sentence if 'day' in word or 'month' in word ]
        if len(sentence) > 0:
            result = sentence[0].replace('-','').strip()
        else:
            result = 'Not available'
        return result
    elif isinstance(sentence, (str,)):
        clean_text = sentence.strip().lower()
        result = re.sub(r"[^a-zA-Z]+", ' ', clean_text)
        return result
    else:
        return ''
    
def lowercase_strip_technojob(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
        sentence = ' '.join(sentence).replace('\r', '').replace('\t', '').replace('\n', '').replace('Recruiter','').strip().split(',')
        return sentence[0]
    elif isinstance(sentence, (str,)):
        result = sentence.replace('\n','').strip().lower()
        return result
    else:
        return ''
    
    
def lowercase_strip_reed(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
        sentence = ' '.join(sentence).replace('\r', '').replace('\n', '').replace(',','.').replace('..','.').strip()
        return sentence
    elif isinstance(sentence, (str,)):
        clean_text = sentence.strip().lower()
        result = re.sub(r"[^a-zA-Z]+", ' ', clean_text)
        return result
    else:
        return ''    
    
  
    
def lowercase_strip_reed2(sentence):
    '''
    strip all the non-alphabetical characters
    '''
    if isinstance(sentence, (list,)):
        sentence = ' '.join(sentence).replace('\r', '').replace('\n', '').replace(',','.').replace('..','.').strip().split(' ')[1]
        return sentence
    elif isinstance(sentence, (str,)):
        clean_text = sentence.strip().lower()
        result = re.sub(r"[^a-zA-Z]+", ' ', clean_text)
        return result
    else:
        return ''

In [4]:
STOPWORD = stopwords.words('english') + list(string.punctuation)

In [5]:
def clean_discription(descrip_list):
    if isinstance(descrip_list, (list,)):
        descrip_list = ' '.join(descrip_list).replace('\r', '').replace('\n', '').strip()
        clean_descrip =' '.join([i for i in word_tokenize(descrip_list.lower()) if i not in STOPWORD])
    return clean_descrip

In [6]:
for i in data_today:
    location_clean = lowercase_strip_today2(i['location'])
    d1 = {'location': location_clean}
    company_clean = lowercase_strip_today1(i['company'])
    d2 = {'company': company_clean}
    title_clean = lowercase_strip_today2(i['title'])
    d3 = {'title': title_clean}
    descrip_clean = clean_discription(i['description'])
    d4 = {'description': descrip_clean}
    salary_clean = lowercase_strip_today1(i['salary'])
    d5 = {'salary': salary_clean}
    posted_clean = lowercase_strip_today1(i['date_listed'])
    d6 = {'date_listed': posted_clean}

    
    i.update(d1)
    i.update(d2)
    i.update(d3)
    i.update(d4)
    i.update(d5)
    i.update(d6)

In [7]:
for i in data_24:
    location_clean = lowercase_strip_24(i['location'])
    d1 = {'location': location_clean}
    company_clean = lowercase_strip_24(i['company'])
    d2 = {'company': company_clean}
    title_clean = lowercase_strip_24(i['title'])
    d3 = {'title': title_clean}
    descrip_clean = clean_discription(i['description'])
    d4 = {'description': descrip_clean}
    salary_clean = lowercase_strip_24(i['salary'])
    i.update(d1)
    i.update(d2)
    i.update(d3)
    i.update(d4)

In [8]:
for i in data_indeed:
    location_clean = lowercase_strip_indeed(i['location'])
    d1 = {'location': location_clean}
    company_clean = lowercase_strip_indeed(i['company'])
    d2 = {'company': company_clean}
    title_clean = lowercase_strip_indeed(i['title'])
    d3 = {'title': title_clean}
    descrip_clean = clean_discription(i['description'])
    d4 = {'description': descrip_clean}
    posted_clean = lowercase_strip_indeed2(i['date_listed'])
    d6 = {'date_listed': posted_clean}

    i.update(d1)
    i.update(d2)
    i.update(d3)
    i.update(d4)
    i.update(d6)

In [9]:

for i in data_techno:
    location_clean = lowercase_strip_reed_techno(i['location'])
    d1 = {'location': location_clean}
    company_clean = lowercase_strip_reed_techno(i['company'])
    d2 = {'company': company_clean}
    title_clean = lowercase_strip_reed_techno(i['title'])
    d3 = {'title': title_clean}
    descrip_clean = clean_discription(i['description'])
    d4 = {'description': descrip_clean}
    salary_clean = lowercase_strip_technojob(i['salary'])
    d5 = {'salary': salary_clean}
    posted_clean = lowercase_strip_technojob(i['date_listed'])
    d6 = {'date_listed': posted_clean}

    
    i.update(d1)
    i.update(d2)
    i.update(d3)
    i.update(d4)
    i.update(d5)
    i.update(d6)

In [10]:
for i in data_reed:
    location_clean = lowercase_strip_reed_techno(i['location'])
    d1 = {'location': location_clean}
    company_clean = lowercase_strip_reed_techno(i['company'])
    d2 = {'company': company_clean}
    title_clean = lowercase_strip_reed_techno(i['title'])
    d3 = {'title': title_clean}
    descrip_clean = clean_discription(i['description'])
    d4 = {'description': descrip_clean}
    salary_clean = lowercase_strip_reed(i['salary'])
    d5 = {'salary': salary_clean}
    posted_clean = lowercase_strip_reed2(i['date_listed'])
    d6 = {'date_listed': posted_clean}

    
    i.update(d1)
    i.update(d2)
    i.update(d3)
    i.update(d4)
    i.update(d5)
    i.update(d6)

In [11]:
# data_reed.extend(data_techno)
# data_reed.extend(data_indeed)
# data_reed.extend(data_24)
# data_reed.extend(data_today)

In [12]:
df_reed = pd.DataFrame(data_reed)
df_24 = pd.DataFrame(data_24)
df_today = pd.DataFrame(data_today)
df_indeed = pd.DataFrame(data_indeed)
df_techno = pd.DataFrame(data_techno)

In [19]:
df_24.tail()

,URL,company,date_listed,description,location,salary,title
3995,https://www.jobs24.co.uk/search-results/c-wpf-...,,08-03-2019,c wpf sql developer c wpf sql developer bankin...,london,"50,000",c wpf sql developer
3996,https://www.jobs24.co.uk/search-results/group-...,,08-03-2019,excellent opportunity available respected drin...,birmingham,"50,000",group hr manager
3997,https://www.jobs24.co.uk/search-results/maths-...,,08-03-2019,maths teacher – ofsted ‘ outstanding ’ school ...,brent north west london london,"29,664",maths teacher
3998,https://www.jobs24.co.uk/search-results/counte...,,08-03-2019,temp perm roles currently recruiting client im...,rochford castle point essex,9.00,counterbalance drivers needed
3999,https://www.jobs24.co.uk/search-results/uk-rep...,,08-03-2019,opportunity opportunity arisen established tea...,stevenage hertfordshire,£,uk reporting tax compliance officer

In [14]:
df['location'] = df['location'].str.lower()

NameError: name 'df' is not defined

In [ ]:
lat_long = pd.read_csv("Uk_cities_long_lat.csv")

df = df.merge(lat_long,how ='left', right_on = 'City',left_on = 'location')

len(df)

In [ ]:
df_list = df.values.tolist()

In [ ]:
with open(output_file, 'w') as f:
    json.dump(df_list, f)